{% extends "base/base_back.html" %}

{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
    <a href="{% url 'dashboard' %}">{% trans 'Home' %}</a>
    &rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
    {{ opts.verbose_name_plural|capfirst }}|
    <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}
    <script type="text/javascript">
        $(function () {
            $('table').kgrid({
                form_data: ['{{f}}', '{{q}}'],
                form_to: '{% url "myapp:pedido_list" %}?f={{f}}&q={{q}}',
                order_attr: 'class=""',
                order_to: '{% url "myapp:pedido_list" %}?f={{f}}&q={{q}}',
            });
        });
    </script>

    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <a href="/admin/myapp/pedido/add/" class="btn btn-primary text-bold"
                   title="{% trans 'Add' %} {% trans 'Pedido' %}"><i class="fa fa-plus"></i> <span
                        class="hidden-xs"> {% trans 'Add' %}</span></a>
            </div>
        </div>
    </div>

    <div class="container-overflow">
        <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th>#</th>

                <th class="col-hidden" data-search="pos"
                    data-order="pos">Cliente
                </th>
                <th class="col-hidden" data-search="parent"
                    data-order="parent">Distancia
                </th>
                <th class="col-hidden" data-search="title"
                    data-order="title">Ciudad
                </th>


                <th class="col-hidden" data-search="active"
                    data-order="active">Atendido
                </th>

                <th class="btn-actions col-blocked text-center">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for d in object_list %}
                <tr class="{{ d.is_active|yesno:',danger' }}">
                    <td>{% if is_paginated %}
                        {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                        {{ forloop.counter }}
                    {% endif %}
                    </td>

                    <td>{{ d.cliente }}</td>
                    <td>{{ d.distancia }}</td>
                    <td>{{ d.address }} </td>


                    <td>
                    <span class="label label-{{ d.atendido|yesno:'primary,success' }}">
                        {% if d.atendido %}{% trans 'Yes'|upper %} {% else %}
                            {% trans 'No'|upper %} {% endif %}
                    </span>
                    </td>


                    <td class="text-center">
                        <div class="btn-group">

                            <a href="{% url 'myapp:salida_detail' d.pk %}"
                               class="btn btn-warning btn-sm text-bold"

                               title="Ver Salida {{ d.pk }}" rel="tooltip">
                                <i class="btn-icon-only fa fa-eye"></i></a>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="row">
        {% if is_paginated %}
            {% load paginator %}
            {% paginator %}
        {% else %}
            <div class="col-md-12">
                <ul class="breadcrumbpag">
                    {{ object_list.count }}
                    {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}
                        {{ opts.verbose_name_plural|capfirst }}{% endifequal %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock content %}